

@media screen and (max-width: 2560px){

.utp {
    background-color: #f0f8fa;
}
.utp2 {
    background: 

    
    url(../img/bg3.jpg) no-repeat center bottom / cover;
}

}




@media screen and (max-width: 1920px){

.utp {
    background-color: #f0f8fa;
}
.utp2 {
    background: 

    url(../img/utp2.png) no-repeat left bottom, 
    url(../img/bg3.jpg) no-repeat center bottom / cover;
}

}




@media screen and (max-width: 1830px){

.block_top {
    background: url(../img/air.png) repeat-x center bottom, 
                url(../img/bg.jpg) no-repeat center bottom;
}

}






@media screen and (max-width: 1530px){

.block_top {
    background: url(../img/air.png) repeat-x center bottom, 
    
    url(../img/bg.jpg) no-repeat center bottom;
}

}




@media screen and (max-width: 1170px){

.block_top h1 {
    font-size: 32px;
    line-height: 56px;
}
.block_top h1 .n1 {
    background: url(../img/pl_g_1.png) no-repeat center / 250px;
}
.block_top h1 .n2 {
    background: url(../img/pl_g_2.png) no-repeat center / 145px;
}

}


@media screen and (max-width: 1230px){

    .but_quiz{
        transform: rotate(0deg);
        top: auto;
        bottom: 0px;
        right: 50%;
        margin-right: -140px;
        display: none;
    }
    }


@media screen and (max-width: 1110px){

.but_quiz{
    transform: rotate(0deg);
    top: auto;
    bottom: 0px;
    right: 50%;
    margin-right: -140px;
    display: none;
}


}





@media screen and (max-width: 1070px){

.block .zag {
    font-size: 18px;
    line-height: 24px;
}
.block_top h1 {
    font-size: 26px;
    line-height: 46px;
}
.block_top h1 .n1 {
    background: url(../img/pl_g_1.png) no-repeat center / 200px;
}
.block_top h1 .n2 {
    background: url(../img/pl_g_2.png) no-repeat center / 125px;
}

}





@media screen and (max-width: 1100px){

.header .messenger{
	display: none;
}

}




@media screen and (max-width: 991px){

.header .title{
	display: none;
}
.block_top {
    background: url(../img/air.png) repeat-x center top 200px, 
   
    url(../img/bg.jpg) no-repeat center top -30px / 991px;
}
.block_top h1{
	text-align: center;
	margin-top:230px;
	line-height: 42px;
}
.block_top .pl{
	margin: auto;
	margin-bottom: 15px;
}
.servis{
	padding-top: 40px;
}
.kak .vopros {
    background: url(../img/kak.png) no-repeat center top;
    height: 500px;
    padding-top: 70px;
    text-align: center;
}
.kak {
    min-height: 500px;
    padding-top: 40px;
    padding-bottom: 0px;
    background: url(../img/bg2.jpg) no-repeat left top / 1100px;
}
.about{
	padding-top: 40px;
}
.plus .zag {
    margin-top: 80px!important;
}
.about .pod_zag{
	margin-bottom: 100px;
}
.about .circle{
	top: -50px;
	margin-top: 0px;
}
.plus_img {
    left: 40%;
    margin-left: -200px;
    top: 80px;
}
.plus_img2 {
    right: 40%;
    margin-right: -200px;
    top: 260px;
}
.utp .text {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
}
.utp .left .ava {
    text-align: center;
    margin-bottom: 20px;
}
.utp {
    background-color: #f0f8fa;
}
.klient img{
	border-radius: 10px;
}
.five .big{
	text-align: center;
	margin-bottom: 20px;
}
.utp2 .text {
    margin-top: 0px;
    text-align: center;
}
.utp2 .left .ava {
    padding-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.utp2 {
    background: 
    
    url(../img/utp2.png) no-repeat left bottom, 
    url(../img/bg3.jpg) no-repeat center bottom / cover;
}
.callbackkiller {
    left: 4%;
    right: auto;
    transform: scale(1);
}
}




@media screen and (max-width: 790px){

.header .tell {
    margin-left: 15px;
}

}




@media screen and (max-width: 767px){

.variant .cl2 {
    min-height: 550px;
}
.variant .cl3 .block_in {
    padding-left: 0px;
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
}
.variant .cl3 {
    background: url(../img/wifi.png) no-repeat center top 30px, 
    
    url(../img/bg3.jpg) no-repeat center top / cover;
}
.map .block{
	position: relative;
	top: -50px;
	left: 0px;
	width: 100%;
}

.footer{
	text-align: center;
	padding-top: 0px;
}
.footer img{
	margin-bottom: 20px;
}
.footer .right{
	margin-top: 20px;
}
.callbackkiller {
    left: auto;
    right: 4%;
    transform: scale(1);
}
.but{
    background: linear-gradient(to top, #2900da, #3a6cfd);
    border-bottom: 2px solid #3a6cfd;

}
}






@media screen and (max-width: 700px){

.header .tell {
    margin-left: 0px;
}
.header .mess{
	display: none;
}
.big_pod_zag {
    font-size: 14px;
}
.big_zag {
    font-size: 20px;
    line-height: 26px;
}
.header .burger {
    display: block;
}

}







@media screen and (max-width: 620px){

.block_top h1 {
    font-size: 22px;
    line-height: 33px;
}
.block_top h1 .n1 {
    background: url(../img/pl_g_1.png) no-repeat center / 170px;
}
.block_top h1 .n2 {
    background: url(../img/pl_g_2.png) no-repeat center / 100px;
}
.kak .big {
    font-size: 22px;
    line-height: 45px;
}
.kak .big span{
    font-size: 42px;
}
.kak .vopros {
    background: url(../img/kak.png) no-repeat center top / 150px;
    height: 300px;
    padding-top: 50px;
}
.kak {
    background: url(../img/bg2.jpg) no-repeat left top / 750px;
}


}





@media screen and (max-width: 560px){

.header .tell a {
    font-size: 20px;
}
.header .tell span {
    font-size: 11px;
}
.header .container{
    padding: 0px;
}


}






@media screen and (max-width: 480px){

.politika {
    height: 100vh;
    overflow-y: scroll;
    min-height: 100vh;
}
.plus_img {
    width: 80px;
    margin-left: 0px;
    left: 50px;
}
.plus_img2 {
    width: 70px;
    margin-right: 0px;
    right: 50px;
}
.utp .text {
    font-size: 20px;
    line-height: 32px;
}

}






@media screen and (max-width: 450px){

.header .tell a {
    font-size: 20px;
}
.header .tell span {
    font-size: 11px;
}
.block_top h1 {
    font-size: 20px;
    line-height: 30px;
}
.block_top h1 .n1  {
    background: url(../img/pl_g_1.png) no-repeat center / 160px;
}
.block_top h1 .n2 {
    background: url(../img/pl_g_2.png) no-repeat center / 100px;
}

}




@media screen and (max-width: 420px){

.header{
    padding-top: 5px;
}
.header .tell{
    line-height: 20px;
}
.header .container {
    padding: 0px;
}
.block_top .container {
    padding: 0px;
}
.block_top {
    background: url(../img/air.png) repeat-x center top 210px / 650px, 
     
    url(../img/bg.jpg) no-repeat right top 10px / 620px;
}
.block_top h1 {
    margin-top: 150px;
}
.servis .container {
    padding: 0px;
}
.servis{
	padding-top: 30px;
	padding-bottom: 30px;
}
.servis .text .name {
    font-size: 17px;
    line-height: 22px;
}
.kak .container {
    padding: 0px;
}
.kak{
	padding-bottom: 40px;
}
.kak .big {
    line-height: 40px;
}
.about .container {
    padding: 0px;
}
.about .zag {
    font-size: 19px;
}
.about .pod_zag {
    font-size: 40px;
    line-height: 45px;
}
.plus .zag {
    margin-top: 40px!important;
}
.plus_img{
	top: 20px;
}
.plus_img2{
	top: 200px;
}
.plus {
    padding-bottom: 40px!important;
}
.utp .container {
    padding: 0px;
}
.utp .left .ava{
	margin-bottom: 160px;
}
.utp {
    background-color: #f0f8fa;
    padding-bottom: 30px;
    padding-top: 40px;
}
.klient .container {
    padding: 0px;
}
.klient{
	padding-top: 40px;
	padding-bottom: 40px;
}
.variant .container {
    padding: 0px;
}
.variant{
	padding-top: 40px;
	padding-bottom: 40px;
}
.variant .name {
    font-size: 18px;
}
.variant .cl2 {
    min-height: 580px;
}
.about{
	padding-bottom: 40px;
	padding-top: 0px;
}
.about .container {
    padding: 0px;
}
.five{
	padding-top: 40px;
	padding-bottom: 40px;
}
.five .container {
    padding: 0px;
}
.five .big {
    font-size: 15px;
    line-height: 35px;
}
.five .big span{
    font-size: 50px;
}
.five .block .block_in {
    padding-left: 100px;
}
.five .block.n1 .block_in{
    background: url(../img/five.png) no-repeat center left 20px / 60px;
}
.five .block.n2 .block_in{
    background: url(../img/five2.png) no-repeat center left 20px / 60px;
}
.five .block.n3 .block_in{
    background: url(../img/five3.png) no-repeat center left 20px / 60px;
}
.five .block.n4 .block_in{
    background: url(../img/utp_home.png) no-repeat center left 20px / 60px;
}
.five .block.n5 .block_in{
    background: url(../img/plus2.png) no-repeat center left 20px / 60px;
}
.utp2 {
    background: url(../img/utp2.png) no-repeat top 230px center / 440px, 
    url(../img/bg3.jpg) no-repeat center bottom / cover;
    padding-bottom: 30px;
}
.utp2 .text {
    font-size: 20px;
    line-height: 32px;
}
.utp2 .left .ava{
	margin-bottom: 130px;
}
.utp2 .container {
    padding: 0px;
}
.block .messejer{
	display: none;
}
.map .container {
    padding: 0px;
}
.map .block{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
}
.map iframe{
	height: 300px;
}
.footer{
	padding-top: 30px;
}
.but_quiz{
    width: 100%;
    right: 0px;
    margin-right: 0px;
	margin-left:0px;
    max-width: 100%;
	bottom: 20px;
	font-size: 13px;
    height: 50px;
    line-height: 50px;
    display: block;
}
.but_quiz img {
	width: 22px;
	margin-right: 5px;
}

}







@media screen and (max-width: 400px){

.header .tell a {
    font-size: 16px;
}
.header .tell span {
    font-size: 9px;
}

}





@media screen and (max-width: 375px){

.block .form .but{
	font-size: 13px;
}

}


@media screen and (max-width: 374px){

.header .tell{
    line-height: 18px;
}
.header .tell a {
    font-size: 16px;
}
.header .tell span {
    font-size: 9px;
}
.header .tell{
    display: none;
}

}







